<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Susan's Decision-Maker</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />

  <!-- Nav CSS -->
  <link rel="stylesheet" href="../public/styles/nav.css" type="text/css" />

</head>

<body>
  <nav>
    <span>Decision-Maker</span>
    <div>
      <form method="POST" action="/create">
        <button type="submit">Create a Poll</button>
      </form>
    </div>
  </nav>
</body>

</html>