<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Nav CSS -->
  <link rel="stylesheet" href="../public/styles/nav.css" type="text/css" />
</head>

<body>
  <span id="corner-title">Decision-Maker</span>
  <a href="/">
    <button type="submit"><span>Create a Poll</span></button>
  </a>
</body>

</html>