<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Susan's Decision-Maker</title>

  <!-- jQuery -->
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

  <!-- Global layout CSS -->
  <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&display=swap" rel="stylesheet">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="../public/scripts/client.js"></script>

  <!-- External Icons -->
  <script src="https://kit.fontawesome.com/b9329590b9.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav>
    <%- include('partials/_nav') %>
  </nav>
  <header>
    <div>
      <h1>Decision-Maker</h1>
    </div>
    <div>
      <h3>Bit of explanation here about how this works.</h3>
    </div>
  </header>
  <main>
    <h2>Create a Poll</h2>
    <form method="POST" action="/create">
      <p>Your Email</p>
      <input type="email" name="email" id="email" required />
      <p>Poll Question</p>
      <input type="text" name="question" id="question" required />
      <div id="choices">
        <p>Choice One</p>
        <input type="text" name="option" required />
        <p>Choice One Description (Optional)</p>
        <input type="text" name="option" required />
        <p>Choice Two</p>
        <input type="text" name="option" required />
        <p>Choice Two Description (Optional)</p>
        <input type="text" name="option" required />
        <p>Choice Three</p>
        <input type="text" name="option" /><i class="far fa-trash-alt"></i>
        <p>Choice Three Description (Optional)</p>
        <input type="text" name="option" required />
      </div>
      <br>
      <div>
        <span>Add More Options</span>
        <i class="fas fa-plus-circle" id="add-options"></i><br>
      </div>
      <button type="submit"><span>Create Poll</span></button>
    </form>
  </main>
</body>

</html>