<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Susan's Decision-Maker</title>

  <!-- App CSS -->
  <link rel="stylesheet" href="../public/styles/layout.css" type="text/css" />

  <!-- Nav CSS -->
  <link rel="stylesheet" href="../public/styles/nav.css" type="text/css" />

  <!-- External Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">

  <!-- External JS -->
  <script type="text/javascript" src="/vendor/jquery-2.2.3.min.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="../public/scripts/client.js"></script>

  <!-- External Icons -->
  <script src="https://kit.fontawesome.com/b9329590b9.js" crossorigin="anonymous"></script>

</head>

<body>
  <nav>
    <%- include('partials/_nav') %>
  </nav>
  <header>
    <h1>Decision-Maker</h1>
  </header>
  <main>
    <h2>Create a Poll</h2>
    <form method="POST" action="/create">
      <p>Poll Question</p>
      <input type="text" name="question" id="question" />
      <p>Option 1</p>
      <input type="text" name="option" /><i class="far fa-trash-alt"></i>
      <p>Option 2</p>
      <input type="text" name="option" /><i class="far fa-trash-alt"></i>
      <p>Option 3</p>
      <input type="text" name="option" /><i class="far fa-trash-alt"></i>
      <br><span>Add More Options</span><i class="fas fa-plus-circle"></i><br>
      <button type="submit">Create Poll</button>
    </form>
  </main>
</body>

</html>